In [9]:
import pandas as pd
import numpy as np

# groupby function

In [10]:
df=pd.read_csv('fortune 500.csv',encoding='latin-1')

In [12]:
df.head()

,Rank,Company Name,Number of Employees,Previous Rank,Revenues,Revenue Change,Profits,Profit Change,Assets,Market Value
0,1,Walmart,"23,00,000",1.0,"$4,85,873",0.80%,"$13,643.00",-7.20%,"$1,98,825","$2,18,619"
1,2,Berkshire Hathaway,"3,67,700",4.0,"$2,23,604",6.10%,"$24,074.00",0.00%,"$6,20,854","$4,11,035"
2,3,Apple,"1,16,000",3.0,"$2,15,639",-7.70%,"$45,687.00",-14.40%,"$3,21,686","$7,53,718"
3,4,Exxon Mobil,"72,700",2.0,"$2,05,004",-16.70%,"$7,840.00",-51.50%,"$3,30,314","$3,40,056"
4,5,McKesson,"68,000",5.0,"$1,92,487",6.20%,"$2,258.00",53.00%,"$56,563","$31,439"

In [13]:
df.groupby('Company Name')

In [14]:
company=df.groupby('Company Name')

In [15]:
company

In [16]:
company.size()

Company Name
3M                        1
A-Mark Precious Metals    1
ABM Industries            1
ADP                       1
AECOM                     1
                         ..
Yum China Holdings        1
Zimmer Biomet Holdings    1
eBay                      1
iHeartMedia               1
salesforce.com            1
Length: 497, dtype: int64

In [17]:
company.mean()

                         Rank  Previous Rank
Company Name
3M                       94.0           93.0
A-Mark Precious Metals  395.0          426.0
ABM Industries          500.0          485.0
ADP                     240.0          248.0
AECOM                   161.0          156.0
...                       ...            ...
Yum China Holdings      399.0            NaN
Zimmer Biomet Holdings  352.0          431.0
eBay                    310.0          300.0
iHeartMedia             426.0          414.0
salesforce.com          326.0          386.0

[497 rows x 2 columns]

In [19]:
company['Revenues'].mean()

TypeError: Could not convert $30,109  to numeric

In [20]:
data=pd.read_csv('matches - matches.csv')

In [21]:
data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN